doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='A place for CS50 Graduates to share thoughts')
        meta(name='author', content='Omar Jajah')

        title I took CS50! - #{title}

        link(rel="icon" href="public/img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous")
        link(href='public/css/style.css', rel='stylesheet')

        script(src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv-printshiv.min.js" integrity="sha256-tCp+lJpuIdZrMPu7SiLer9ngzKvATw+ikH/GJS/fFl8=" crossorigin="anonymous")        
    body.bg-dark
        nav.navbar.bg-warning.p-0
            ul.list-inline.m-0
                li.list-inline-item.navbar-item.m-0
                    a.navbar-link.d-flex.p-2(href="/home") Home
                li.list-inline-item.navbar-item.m-0
                    a.navbar-link.d-flex.p-2(href="/graduates") Graduates
                li.list-inline-item.navbar-item.m-0
                    a.navbar-link.d-flex.p-2(href="/thoughts") Thoughts
            ul.list-inline.m-0
                if user
                    li.list-inline-item.navbar-item.m-0
                        a.navbar-link.d-flex.p-2(href="/profile")= user.name
                    li.list-inline-item.navbar-item.m-0
                        a.navbar-link.d-flex.p-2(href="/logout") Logout 
                else
                    li.list-inline-item.navbar-item
                        a.navbar-link.d-flex.p-2(href="/ghlogin")
                            i.fa.fa-github.fa-lg.m-1(aria-hidden="true")
                            | Github Login
        .display-4.text-center.bg-light.text-dark.p-2.font-weight-bold I took CS50!

        main.container
            block body

        block script
        script.
            document.querySelectorAll('.navbar-link').forEach((link) => {
                if (link.href.includes(document.location.href)) {
                    link.classList.add('active');
                }
            });

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous")