* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 1rem;
  height: 100%;
}

.navbar-link {
  color: var(--dark);
  font-size: 120%;
}

.navbar-link:hover {
  text-decoration: none;
  color: var(--light);
  background-color: var(--dark);
}

.active {
  font-weight: bold;
}

.link {
  color: var(--primary);
}

.link:hover {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

.form-label {
  font-size: 125%;
}

.submit-spinner {
  width: 80px;
  height: 50px;
}

.thought-box {
  -webkit-box-shadow: 8px 6px 18px 3px #000000;
  box-shadow: 8px 6px 18px 3px #000000;
  background-color: darkgray;
}

hr {
  padding: 1.5px;
  opacity: 0.6;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
