.thought-box {
  -webkit-box-shadow: 8px 6px 18px 3px #000000;
  box-shadow: 8px 6px 18px 3px #000000;
  background-color: rgb(233, 227, 227);
}

.thought-user-image {
  width: 48px;
}

.thought-subject {
  font-weight: bold;
}

.thought-date {
  opacity: 0.85;
  font-weight: lighter;
}

.thumb-button {
  outline: none;
}

.thumb-button:focus {
  outline: none;
}

hr {
  padding: 1.5px;
  background: rgb(93, 96, 18);
  background: linear-gradient(
    90deg,
    rgba(93, 96, 18, 1) 4%,
    rgba(230, 237, 59, 1) 51%,
    rgba(93, 96, 18, 1) 91%
  );
}
