/* * {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 1rem;
  height: 100%;
}

a,
a:hover {
  color: var(--warning);
}

.container {
  min-height: 75%;
} */

/* .active {
  font-weight: bold;
}

.link {
  color: var(--primary);
}

.link:hover {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
} */

/* .navbar {
  padding: 0;
}

.navbar-link {
  color: var(--dark);
  font-size: 120%;
}

.navbar-link:hover {
  text-decoration: none;
  color: var(--light);
  background-color: var(--dark);
} */

/* .form-label {
  font-size: 125%;
}

.submit-spinner {
  width: 80px;
  height: 50px;
} */

/* 
.thought-box {
  -webkit-box-shadow: 8px 6px 18px 3px #000000;
  box-shadow: 8px 6px 18px 3px #000000;
  background-color: rgb(233, 227, 227);
}

.thought-user-image {
  width: 48px;
}

.thought-subject {
  font-weight: bold;
}

.thought-date {
  opacity: 0.85;
  font-weight: lighter;
}

.thumb-button {
  outline: none;
}

.thumb-button:focus {
  outline: none;
} */

/* hr {
  padding: 1.5px;
  background: rgb(93, 96, 18);
  background: linear-gradient(
    90deg,
    rgba(93, 96, 18, 1) 4%,
    rgba(230, 237, 59, 1) 51%,
    rgba(93, 96, 18, 1) 91%
  );
} */

/* .info-card {
  max-width: 500px;
}

.end {
  position: absolute;
  bottom: 0;
} */

/* .big-text {
  font-size: 1.1rem;
}

.bigger-text {
  font-size: 1.3rem;
}

.small-text {
  font-size: 0.8rem;
}

.bold-text {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
} */

/* 

 Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) {
}

 Medium devices (tablets, 768px and up) 
@media (min-width: 768px) {
  .navbar {
    padding: 0 5%;
  }
}

 Large devices (desktops, 992px and up) 
@media (min-width: 992px) {
  .navbar {
    padding: 0 7.5%;
  }
}

 Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {
  .navbar {
    padding: 0 10%;
  }
} 

*/
